<!-- Include Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<!-- Container for the content -->
<div class="container text-center">
    <!-- Main heading -->
    <h1>Password Generator</h1>

    <!-- Form for generating passwords -->
    <form action="{% url 'password' %}">
        <!-- Password length selection -->
        <select name="length">
            <option valeu="6">6</option>
            <option valeu="7">7</option>
            <option valeu="8">8</option>
            <option valeu="9">9</option>
            <option valeu="10">10</option>
            <option valeu="11">11</option>
            <option valeu="12" selected="selected">12</option>
            <option valeu="13">13</option>
            <option valeu="14">14</option>
        </select> Length
        <br>
        <!-- Checkbox options -->
        <input type="checkbox" name="uppercase"> Uppercase
        <br>
        <input type="checkbox" name="numbers"> Numbers
        <br>
        <input type="checkbox" name="special"> Special Characters
        <br>
        <!-- Submit button -->
        <input type="submit" value="Generate Password" class="btn btn-primary">
    </form>
    <br>
    <br>
    <!-- Link to the about page -->
    <a href="{% url 'about' %}" class="btn btn-warning">About</a>
</div>
