<!-- Include Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<!-- Container for the content -->
<div class="container text-center">
    <!-- Main heading -->
    <h1>Your Password is: </h1>
    <!-- Display the generated password -->
    <h2 class="alert alert-success">{{ password }}</h2>
    <!-- Link to the home page -->
    <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>